<ion-header>
  <ion-toolbar>
    <ion-title> Tab One </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <!-- <img src="/assets/shapes.svg" alt="" /> -->
    <ion-card-header>
      <ion-card-subtitle>Randon Joke</ion-card-subtitle>
      <ion-card-title [innerHTML]="joke"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button ion-button (click)="getJoke()" end>Refresh</ion-button>
    </ion-card-content>
  </ion-card>
 
</ion-content>